.hero-section{
  flex-wrap: wrap;
  padding: 2rem 0;

  h1{
    font-size: clamp(2rem, 3.5vw, 3.75rem);
  }
   p{
    font-size: clamp(1.4rem, 3.5vw, 1.875rem);
  }
  img{
    /* height: 350px; */
    width: 30%;
    margin-bottom: -2rem;
  }
}




@media (max-width: 612px){
  #hero{
    padding-top: 0;
    padding-bottom: 3rem;
  }
  .hero-section{
    margin-inline: 20px; 
    img{
      width: 200px;
    }
  }
}